body{
  font-size:12px;
  background-color: #f3f4f8;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.application.theme--dark {
  background-color: #000000;
  color: #fff;
}

@media only screen and (max-width: 550px) {
  #photo-container{
    max-width:247px;
  }
}

h1{
  font-weight: normal;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2{
  font-weight: normal;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container{
  padding:0px;
}

.terms {
  color:#2e3436;
  font-size:12px;
  height:150px;
  overflow:scroll;
}
buttons-container{
  display:flex;
  width:100%;
  justify-content:space-between;
}
ipad-button{
  margin-right:80px;
}

.checkbox{
  margin-top:14px;
}

.card {
  padding:10px;
}

.ordered-list{
  margin-left:20px;
  padding-left:20px;
}

.bullet-list{
  margin-left:10px;
  padding-left:10px;
}
